
/************************************************/
/***********    Разметка страницы    ************/
/************************************************/

/*** Страница ***/
.content-add-page {     
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100%;
    padding: 3% 1% 1% 4%;
    grid-column-gap: 1%;
}
/*** Правая колонка ***/
.right-column {
    display: grid; 
    grid-template-rows: 3fr 1fr;
    grid-row-gap: 3%;
    overflow: hidden;
    padding: 1%;
}
    /*** Верхняя строка провой колонки ***/
    .top-row {
        display: grid; 
        grid-template-columns: 3fr 2fr;
        grid-column-gap: 2%; 
        overflow: hidden;
        padding: 1%;
    }
/*************************************************/



/**********************************************/
/***********    Базовые элементы   ************/
/**********************************************/

/*** Оформление блоков ***/

.block-desing {
    overflow: hidden;
    border: 1px solid rgba(158, 158, 158, 0.45);
    border-radius: 15px;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4), 
                inset 0 0 300px 10px rgba(0, 0, 0, 0.1)
}

.header-title-block { 
    height: 40px;
    font-size: 11pt;
    padding: 10px 0 0 0;
    color: #3b5d7b;
    text-align: center;
    box-shadow: inset 0 0 200px 0 #c9c9c996, 
                inset 0 -3px 1px 0 rgb(204, 204, 204);
}
/*** Оформление карточек на панели деталей ***/
.card-detal-group {
    border: 1px solid #afafaf;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 4fr 1fr;
}

/***************************************************/



/*******************************************/
/***********   Основные стили   ************/
/******************************* ***********/


/****** Левая панель *******/
.list-detals { margin-top: 8%; margin-bottom: 4%; }
.search-block { text-align: center; padding: 15px 0 0 0; }
    .search-block i {     
        position: absolute;
        margin: 9px 0px 0 -35px;
        font-size: 10pt;
        color: #3b5d7b;
    }
    .search-block input {
        height: 30px;
        width: 200px;
        font-size: 8pt;
        display: inline;
        padding-right: 25px;
    }
    .search-block input:focus {
        box-shadow: 0 0 10px 1px rgb(95, 142, 184);
        border-color: #ffffff;
    }
.list-block {     
    margin: 0 15px 0 15px;
    font-size: 9pt;
    max-height: 522px;
    padding: 10px 10px 10px 15px;
    box-shadow: inset 0 0 200px 5px #e5e5e5, inset 0 0 10px 2px black;
    border-radius: 5px;
    overflow-y: auto;
}
    .list-block i { color: #6b6b6a; margin: 0 5px 0 0; }
    .list-block a { color: #3b5d7b; }
    .subgroup { margin-left: 15px; }
    .subgroup.hide { display: none; }




/*** Панель добавления деталей ***/
.gui-panel {display: grid; grid-template-rows: 1fr 10fr;}
    .gui-panel .nav-bar {
        font-size: 9pt;
        font-style: italic;
        padding-top: 12px;
    }
    .gui-panel .nav-bar ul {
        display: -webkit-inline-box;
        float: left;
        margin: 0 0 0 10px;
    }
    .gui-panel .nav-bar ul li { margin-left: 10px; }
    .gui-panel .nav-bar ul li:hover { text-decoration: underline; cursor: pointer; }
    .gui-panel .nav-bar ul li i { margin-left: 10px; }
.content-add-panel {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
    padding: 2%;
    overflow-y: scroll;
}
    .card-detal-group {height: 150px;}
    .title-group { border-top: 1px solid #afafaf; }
    .img-group { text-align: center; }
    .img-group img { width: 50%; }

/**********************************************/

.bottom-row .block-desing { height: 100%; }