
/************************************************/
/*************   Список деталей    **************/
/************************************************/

.list {
    font-size: 8pt;
    height: 89%;
    padding: 15px 10px;
    width: 100%;
}

.detals-table {
	height: 100%;
}

/***********************/
/*** Панель фильтров ***/
/***********************/
.filter-panel {
    font-size: 10pt;
    margin-bottom: 10px;
    position: relative;
    height: 40%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 5fr;
    box-shadow: inset 0 0 65px 5px #e5e5e5, inset 0 0 10px 2px black;
}

.filter-panel.hiden { height: 9%; }

.small {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    padding: 14px;
}

.small input, .small select { height: 30px; font-size: 8pt;}




/***********************/
/*** Таблица деталей ***/
/***********************/
table { width: 100%; }


/*** Шапка ***/
.head-table {
    width: 94%;
    height: auto;
    position: fixed;
    color: white;
    background: black;
    font-size: 9pt;
    box-shadow: inset 0 0 10px 1px white, 0px 3px 10px 0px #3e5a73;
    border-radius: 5px;
    margin: -3.7% 0 0 0;
}
.head-table th {padding-left: 10px; height: 50px; border-right: 1px solid #2b2b2b;}
.head-table th:hover { text-decoration: underline; cursor: pointer; }
.head-table th i { margin-right: 5px;}
.head-table th.count-num { width: 40px; text-align: center; padding-left: 0px;}
.head-table th.detal-title { width: 130px; }
.head-table th.detal-donor { width: 200px; }
.head-table th.detal-number { width: 100px; }
.head-table th.detal-desc { width: 200px; }
.head-table th.detal-stock { width: 100px; }
.head-table th.detal-stock-param { width: 60px; }
.head-table th.detal-photo { width: 40px; }
.head-table th.detal-price { width: 100px; border: none; }

/*** Тело ***/

.body-table {
    overflow-y: scroll;
    display: grid;
    grid-auto-rows: 40px;
    height: 88%;
    margin-top: 4%;
}
.row-detal {
    display: grid;
    width: 100%;
    height: 40px;
    grid-template-columns: 62px 201px 310px 155px 310px 155px 92px 63px 135px;
}

.row-detal div { 
    padding: 13px 0 0 10px;
    border-bottom: 1px solid #d6d6d6;
}
.row-detal div.count-num { text-align: center; padding-left: 0;}




/*************************/
/*** Панель упарвления ***/
/*************************/
.controlPanel {
	position: fixed;
	bottom: 0px;
	left: 0;
	width: 100%;
	height: 80px;
	background: rgba(0, 0, 0, 0.85);
	display: none;
	grid-template-columns: 350px 100px 100px 100px;
	grid-column-gap: 20px;
}

.titleSelect {color: #FFE8C0;
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7)x;
	background-clip: text;
	font-family: 'Merriweather', serif;
	margin: 0 0 0 105px;
	padding: 15px 8px 8px 20px;
	height: 50px;
	width: 240px;
	border-radius: 6px;
}

.controlPanel label {
	font-size: 9pt;
}

.controlPanel span {
	font-family: 'Roboto Slab', serif; 
	font-size: 10pt; 
	margin: 0 0 0 10px;
}
.controlPanel button {
	margin-top: 25px;
	margin-left: 50px;
	height: 30px;
	font-size: 8pt;
	box-shadow: 0 0 4px 1px #6A6A6A;
}

.showPanel {
	display: grid;
}

/*** Пагинация ***/

.pag-panel {
    position: fixed;
    top: 29.2%;
    right: 50%;
    width: 20%;
    height: 35px;
    text-align: center;
    text-shadow: 2px 5px 10px;
    font-family: 'Abril Fatface', cursive;
    transition: all 0.5s ease;
    opacity: 1;
    margin: 0 -160px 0 0;
    background: rgba(255, 255, 255, 0.55);
}


.pag-panel:hover { opacity: 1; }

.pag-panel ul {	display: -webkit-inline-box;}
.pag-panel ul li {
    width: 35px;
    height: 35px;
    color: #6f6f6f;
    font-size: 9pt;
    display: flex;
    align-items: center;
    transition: all 0.1s ease;
}
li a:hover {text-decoration: none; color: inherit;}
li a { color: inherit;}

.pag-panel ul li.active, 
li.not-active:hover, li.first:hover, li.last:hover, li.next-page:hover, li.prev-page:hover {
	font-size: 18pt;
    color: #5f8eb8;
    padding-top: 0px;
    cursor: pointer;
}