.donor {
	display: grid;
	grid-template-rows: 0fr 1fr 0fr;
}

.donor-content { padding: 20px;}

.donor-table { height: 100%;}
.donor-table { height: 100%;}
.donor-auto-title {
	margin: 25px;
    text-align: center;
    font-family: monospace;
    font-style: italic;
    border-bottom: 1px solid #8a8a8a7d;
    color: #326594;
}
.donor-auto-table {	
	padding: 0 50px 0 40px; 
	font-size: 8pt;
	font-style: italic;
    color: #3d6589;
}
.donor-auto-table td { border-bottom: 1px solid #c7c7c7; padding: 5px;}
.donor-auto-table td.donor-param { width: 75%; }
.donor-button { height: 50px; text-align: center;}
.donor-button button { 
	height: 30px; 
	font-size: 9pt;
	min-width: 100px;
	box-shadow: inset 0 0 5px 0;
}
