/************************/
/*** Позиционирование ***/
/************************/

/*** На странице деталей ***/
.donor.in-detal-list { top: 185px; right: -525px;}
/* Анимация выдвижения */

.donor.in-detal-list.show{ right: 25px; }


/*** На странице добавления ***/
.donor.in-add-page { top: 56px; right: 25px; }


/**********************/
/*** Основные стили ***/
/**********************/

.donor {
    padding: 0 30px 0 30px;
    background-color: #ffffff;
    border: 1px solid rgba(89, 138, 187, 0.4);
    border-radius: 10px;
    z-index: 4;
    transition: all 0.5s ease; 
    box-shadow: 0 7px 30px 0px rgba(103, 103, 103, 0.42), 
                inset 0 0 490px 50px rgba(0, 164, 253, 0.25);
}

.donorContent { text-align: center; }

.mainInfo {
	margin-left: -20px;
	display: grid;
	grid-template-rows: 50px auto auto;
	font-family: 'Merriweather', serif;
}

.titleMainInfo { 
	font-size: 12pt;
	text-align: center;
	color: black;
}

/*** Вкладки панели донора ***/

.donorTabs {
	margin-top: 20px;
	display: grid;
	grid-template-columns: 180px 180px;
	align-items: end;
}

.tabInfo, .tabPhoto {
	background: #FFF;
	width: 180px;
	height: 30px;
	font-family: 'Merriweather', serif;
	font-size: 8pt;
	color: #494949;
	padding: 10px 0 0 0;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom: none;
    box-shadow: -2px -4px 4px 0 #7F7F7F, 
			    inset 0 0 200px 30px rgba(0, 164, 253, 0.13);
	transition: all 0.5s ease-in-out;
}

.tabPhoto {
	margin-left: 115px;
	transition: all 0.5s ease-in-out;
}

.tabInfo:hover, .tabPhoto:hover { cursor: pointer; box-shadow: -2px -4px 4px 0 #7F7F7F, inset 0 0 200px 30px rgba(0, 164, 253, 0.13);}

.tabInfo.active, .tabPhoto.active { 
	width: 320px;
	height: 45px; 
    box-shadow: -2px -4px 4px 0 rgba(58, 58, 58, 0.6), 
    			inset 0 0 200px 30px rgba(0, 164, 253, 0.13);
	padding: 15px 0 0 0;
	font-size: 10pt;
	transition: all 0.5s ease-in-out;
}

.tabPhoto.active {
	margin-left: -25px;
	transition: all 0.5s ease-in-out;
}

/*** Панель параметров ***/

.donorParmas {
	margin-top: 40px;
	display: grid;
	grid-template-rows: 50px auto;
	grid-column-gap: 15px;
	justify-content: center;
	transition: all 0.5s ease-in-out;
    width: 0%;
    overflow: hidden;
}

.donorParmas.show { width: 100%; }

.col {
	display: grid;
	grid-template-columns: 215px 215px;
	grid-column-gap: 15px;
	justify-content: center;
}

.vin-field {	
	display: grid;
	justify-content: center;
	margin: 4px 0 20px 0; 
}

.vin-field .paramTitle {	
	min-width: 150px; 
	padding-left: 10px;
}

.vin-field .paramContent {	
	min-width: 200px; 
}


.oneParamBlock {
	margin-bottom: 20px;
	display: grid;
	grid-template-columns: auto auto;
	justify-content: start;
}

.paramTitle {
	width: 90px;
	height: 27px;
	padding: 6px 0 0 10px;
	background-color: #e9ecef;
	border: 1px solid #ced4da;
	text-align: left;
	font-size: 7pt;
	font-family: sans-serif;
	color: #495057;
	border right: none;
	border-radius: 0.25rem;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.paramContent {
	width: 120px;
	font-size: 8pt;
}

.paramContent select,
.paramContent input {
	font-family: 'Roboto Slab', serif; 
	font-size: 7pt; 
	height: 27px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-left: none;
}

.buttonBlock {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
    justify-content: end;
    margin-top: 10px;
    margin-right: 25px;
    position: relative;
    z-index: -1;
}

.buttonBlock button {
	font-size: 7pt;
	height: 30px;
}

/*** Панель фотографии ***/

.donorPhoto {
    position: absolute;
    height: 340px;
    width: 0%;
    top: 80px;
    right: 33px;
    transition: all 0.5s ease-in-out;
    text-align: center;
    overflow: hidden;
}

.donorPhoto img {
	margin: 100px 0 0 50px;
	height: 160px; 
	width: 200px;
	opacity: 0.5;
}

.donorPhoto img:hover { 
	opacity: 0.75;
	cursor: pointer;
}

/*** Стили для анимации переключения ***/

.donorPhoto.show {width: 95%; }