/*************************/
/******* Разметка ********/
/*************************/

/*** Разметка контента ***/
.staff-block {
	display: grid;
	grid-template-columns: 3fr 2fr;
	grid-column-gap: 1%;
	padding: 4% 1% 1% 4%;
    height: 100%;
}

/*** Разметка левой колонки ***/
.left-column {
	display: grid;
	grid-template-rows: 4fr 6fr;
	grid-row-gap: 3%;
	overflow: hidden;
	padding: 2%; 
}
.right-column { margin: 3% 0px 3% 0; overflow: hidden; }
/*_______________________________________________________*/


/************************/
/*** Базовые элементы ***/
/************************/

/*** Оформление блоков ***/
.block-desing {
    overflow: hidden;
	border: 1px solid rgba(158, 158, 158, 0.45);
    border-radius: 15px;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4), 
    			inset 0 0 300px 10px rgba(0, 0, 0, 0.1)
}

.border-table {
    border-radius: 10px;
    border: 1px solid rgb(181, 181, 181);
    box-shadow: inset 0 0 200px 5px #e5e5e5, inset 0 0 10px 2px black;
}

.header-title-block { 
    position: absolute;
    height: 40px;
    min-width: 250px;
    font-size: 10pt;
    padding: 11px;
    text-align: center;
    color: #637e96;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    letter-spacing: 2px;
    background: white;
    box-shadow: inset -2px -4px 7px 0 rgb(154, 154, 154), 
                inset 0 0 200px 0 #d1d1d1;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 10px;
}

.staff-info .header-title-block { width: 350px; }
.right-column .header-title-block { 
    position: relative;
    border-bottom-right-radius: 0;
    box-shadow: inset 0px -4px 7px 0 rgb(154, 154, 154), 
                inset 0 0 200px 0 #d1d1d1;
}

/*_______________________________________________________*/



/*************************/
/*** Блок уровней прав ***/
/*************************/

/*** Разметка ***/
.staff-group {
    display: grid;
    grid-template-columns: 1fr 2fr;
    overflow: hidden;
}

/*** Логотип ***/
.logo-staff {text-align: center;}
.logo-staff img { width: 45%; margin-top: 30%; }

/*** Список всех уровней ***/
.list-group-staff {
    margin: 3% 3% 3% 0%;
    padding: 15px 15px 10px 15px;
    overflow: hidden;
}
.list-table {
    margin: 1%;
    font-size: 9pt;
    font-style: italic;
    color: #8a8a8a;
    height: 100%;
    overflow-y: scroll;
}

.list-table tr:hover { background: rgba(139, 191, 236, 0.15); cursor: pointer; }

.list-table td { 
    border-bottom: 1px solid #c5c5c5;
    padding: 5px 15px 5px 5px;
}
.staff-group-title {width: 75%;} /*** Ячейка названия группы ***/
.staff-group-edit:hover, .staff-group-delete:hover {text-decoration: underline;} /*** Ячейка названия группы ***/
/*_______________________________________________________*/



/*************************************/
/*** Блок информации об сотруднике ***/
/*************************************/
/*** Разметка ***/
.staff-info {
	display: grid;
	grid-template-rows: auto auto auto;
}

.row-table-or-logo {
	display: grid;
	grid-template-columns: 2fr 1fr;
}

/*** Поле выбора сотрудника ***/
.staff-info .select-user {
    width: 27%;
    position: absolute;
    margin: 1.1% 0 0 24.3%;
}

/*** Таблица информации об сотруднике ***/
.user-info table { margin: 15% 0 0 20%; }
.user-info table td i { margin-right: 10px; }
.user-info table td {
	padding: 5px;
    font-family: 'Roboto Slab', serif;
    color: #757575;
    font-size: 10pt;
}
.param-value { 
	text-align: right;
    text-decoration: underline;
    font-style: italic;
}

.button-block {
	position: absolute;
    display: inline-block;
    padding: 0;
    margin: 0 0 0 5%;
    width: 44%;
    bottom: 7%;
}

.staff-info div.button-block button {
	width: auto;
    min-width: 130px;
    height: 35px;
    font-size: 10pt;
    box-shadow: inset 0 0 5px 0px;
    margin-left: 15px;
}
/*** Блок логотипа блока ***/
.logo { text-align: center; }
.logo img { width: 60%; margin-top: 25%; }
/*_______________________________________________________*/



/************************/
/*** Блок Списка прав ***/
/************************/

.list-all-permissions {
    margin: 3% 3% 3% 3%;
    padding: 20px 15px 10px 25px;
    overflow: hidden;
    height: 87%;
}

.list-all-permissions table { 
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px 5px;
}

.list-all-permissions table td { border-bottom: 1px solid lightgrey; }

.param-title {
	width: 60%;
	font-size: 10pt;
	font-style: italic;
	color: #8a8a8a;
}

.table-params {
    overflow-y: scroll;
    height: 100%;
}

/*_______________________________________________________*/


.add-staff-user {
    position: absolute;
    width: 0%;
    height: 0%;
    background: aliceblue;
    z-index: 6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 darkslategrey;
    transition: all 0.5s ease;
    display: grid;
    grid-template-rows: 5fr 1fr;
    grid-gap: 10px;
    overflow: hidden;
}
    .add-staff-user.animation-1 { width: 30%}
    .add-staff-user.animation-2 { height: 50%}

.add-staff-user div { text-align: center;}

.new-user-fields {
    padding:35px 35px 0 35px;
}

.new-user-fields span, .new-user-fields input {
    font-size: 8pt;
    height: 30px;
    min-width: 130px;
}

.add-staff-user .row-button button { 
    height: 35px;
    min-width: 165px;
    font-size: 10pt;
    box-shadow: inset 0 0 10px 0;
}