

/************************/
/***    Разметка      ***/
/************************/

/*** Страница ***/
.stockpage-container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-column-gap: 25px;
    height: 100%;
    padding: 70px 10px 25px 75px;
}

/*** Левая колонка ***/
.stockpage-container .left {
	display: grid;
	grid-template-rows: 1fr 2fr;
	grid-row-gap: 25px; 
}





/************************/
/***  Основные стили  ***/
/************************/

/*** Блок "Общая информация" ***/
.select-stock {
    position: absolute;
    margin: 10px 0 0 19%;
    width: 15%;
}
.small-info.border-table {
    width: 69%;
    margin: 9.5% 0 0 5%;
    padding: 20px 45px;
    height: 64%;
}
.small-info td {
    padding: 5px;
    font-family: 'Roboto Slab', serif;
    font-size: 8pt;
}

div.show-in-map {
    position: absolute;
    font-size: 9pt;
    margin: -77px 0 0 325px;
    text-align: right;
    padding: 3px 0 0 0;
    width: 175px;
    color: #4d789e;
}

div.show-in-map:hover {text-decoration: underline;cursor: pointer;color: #4d789e;}
.middle-td { width: 10px; }

div.show-in-map i { font-size: 7pt; margin-left: 5px;}




/*** Контейнер с картой ***/
#map {
    overflow: hidden;
    border: 1px solid rgba(158, 158, 158, 0.45);
    outline: none;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}