/*** Разметка страницы ***/
.stockpage-container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-column-gap: 25px;
    height: 100%;
    padding: 70px 10px 25px 75px;
}

/*** Оформелние блоков ***/
.stockpage-container .left .top-container, 
.stockpage-container .left .bottom-container{
    border: 1px solid rgba(158, 158, 158, 0.45);
    border-radius: 25px;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4), 
    			inset 0 0 300px 10px rgba(0, 0, 0, 0.1)
}

/*** Левая колонка ***/
.stockpage-container .left {
	display: grid;
	grid-template-rows: 1fr 2fr;
	grid-row-gap: 25px; 
}

/*** Общие элементы слева ***/
.top-container .title-block, .bottom-container .title-block {
    width: 43%;
    text-align: right;
    margin: 15px 0 0 0;
    border-bottom: 1px solid #6e94b6;
    font-size: 15pt;
    color: #708ca7;
    font-style: italic;
    font-family: 'Merriweather', serif;
}
.top-container .title-block::before, .bottom-container .title-block::before {
	content: "";
    border-bottom: 1px solid #6e94b6;
    width: 12%;
    margin: 33px 0 0 -39px;
    position: absolute;
}

/*** Блок "Общая информация" ***/
.top-container {
}

.select-stock {
    position: absolute;
    margin: -28px 0 0 19%;
    width: 15%;
}

.small-info { padding: 35px 0 0 20px;}
.small-info td {
    padding: 5px;
    font-family: 'Roboto Slab', serif;
    color: #757575;
    font-size: 10pt;
}

td.show-in-map {
    font-size: 8pt;
    text-align: right;
    padding: 3px 0 0 0;
    width: 175px;
    color: #4d789e;
}

td.show-in-map:hover {text-decoration: underline;cursor: pointer;color: #4d789e;}
.middle-td { width: 10px; }

td.show-in-map i { font-size: 7pt; margin-left: 5px;}

/*** Блок "Полная информация" ***/
.bottom-container .title-block::before { margin: 33px 0 0 -29px; }





/*** Правая колонка ***/

/*** Контейнер с картой ***/
#map {
    overflow: hidden;
    border: 1px solid rgba(158, 158, 158, 0.45);
    border-radius: 25px;
    outline: none;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}