*, *::after, *::before {
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	width: 100%;
}


img, embed, object, video, svg {max-width: 100%;}

/*********************     Bootstrap      *******************************/
.input-group-prepend {
	display: -ms-flexbox;
	display: flex;
}

.input-group-text {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 7pt;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

/*********************     Разметка страницы    ********************************/

.content {

}
/************************************************/


/************************************************/
/*************        Меню         **************/
/************************************************/

/*  { Смотри файл static/css/menu.css }  */

/************************************************/


/************************************************/
/*************  Основная панель    **************/
/************************************************/

.mainpanel { 
	margin-left: 310px;
	margin-top: 10px;
	padding: 15px 0 0 15px;
	box-shadow: inset 3px 3px 3px #7F7F7F, inset 0 -1px 3px #7F7F7F;
	border-radius: 5px;
}

/************************************************/
/*************   Список деталей    **************/
/************************************************/

.list {
	font-size: 8pt;
}
/***********************/
/*** Панель фильтров ***/
/***********************/

.filterBack {
	background: #FFFFFF;
	position: fixed;
	height: 80px;
	width: 100%;
	padding: 50px 0 0 5px;
	margin-top: -155px;
	margin-left: -15px;
	z-index:3;
	overflow: hidden;
	transition: all 0.5s ease-in-out;
	box-shadow: 5px 4px 3px 0 #7AA1D5;
}


.filterBack.showfilter { height: 360px; box-shadow: 5px 4px 2px 0 #79CB90;}
.showFilterButton.showfilter { margin-top: 198px; box-shadow: 0 4px 2px 0 #79CB90;}

.showFilterButton {
    position: fixed;
    z-index: 4;
    width: 120px;
    height: 30px;
    margin-top: -82px;
    margin-left: 98px;
    padding: 9px 0 0 18px;
    background: #FFFFFF;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0 4px 2px 0 #7AA1D5;
    transition: all 0.5s ease-in-out;
}

.showFilterButton:hover {
	cursor: pointer;
	box-shadow: 0 4px 2px 0 #6FD48D;
}

.showFilterButton label:hover, 
.showFilterButton i:hover { cursor: pointer; opacity: 1;}

.showFilterButton label {font-size: 8pt;}
.showFilterButton i { 
	color: #808080;
	margin: 0 0 0 10px;
}

.filtePanel {
	display: grid;
	grid-template-rows: 35px auto;
	background-color: #FFFFFF;
	width: 100%;
	height: 340px;
	margin-top: -30px;
	margin-left: -5px;
	padding-top: 20px;
	box-shadow: inset 3px 3px 3px #7F7F7F;
	border-top-left-radius: 5px;
}

.smallFilter form {
	display: grid;
	grid-template-columns: 187px 300px 138px 128px;
	grid-column-gap: 10px;	
	padding-left: 25px;
}

.smallFilter select { height: 27px; font-size: 8pt; }

.fullFilter form {
    display: grid;
    grid-template-columns: 50px 230px 450px 200px 200px;
    grid-column-gap: 25px;
    margin-top: -50px;
    padding-top: 34px;
}

.fullFilterButtonBlock {
	display: grid;
	grid-template-rows: 134px 134px;
    align-content: center;
    border-right: 1px solid #e8e8e8;
    margin: 0 0 0 5px;
}
.fullFilterButtonBlock div { 
	display: grid;
    align-content: center;
    justify-content: center;
    box-shadow: inset 0 0 30px 5px #0000000d;
}
.fullFilterButtonBlock div:hover { opacity: 1; cursor: pointer; box-shadow: inset 0 0 30px 5px rgba(0, 0, 0, 0.08)}
.fullFilterButtonBlock button { background: #000000 }
.fullFilterButtonBlock input { width: 30px; height: 30px;}

.resetFilterButton { border-bottom: 1px solid #e5e5e5; }


.leftFilterBlock {
	display: grid;
	grid-template-rows: 50px auto;
	grid-row-gap: 10px;
    margin-left: -30px;
}

.leftCol { 
}

.filterGroup.price {
    height: 45px;
    padding: 9px;
	border: 1px solid rgba(208, 208, 208, 0.7);
    border-radius: 5px;
    overflow-y: hidden;
}

.filterGroup.left {	height: 135px; }


.oneFIlterValue label {
	position: static;
	margin: 5px 0 0 0;
}

.oneFIlterValue label:hover { cursor: pointer; }
.oneFIlterValue label::before, .oneFIlterValue label::after { left: 0; }


.filterGroup {
    width: 100%;
    height: 195px;
    margin: 25px 0 0 25px;
    padding: 10px 5px 5px 15px;
    overflow-y: scroll;
    border: 1px solid rgba(208, 208, 208, 0.7);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: none;
}

.filterGroup::before {
    content: '';
    position: absolute;
    height: 20px;
    background: white;
    margin: -21px 0 0 0;
    padding: 0px 10px 0 10px;
    font-size: 10pt;
    z-index: 1;
}

.filterGroup.price input, .filterGroup.price.priceFilter span { height: 25px; font-size: 8pt; } 
.filterGroup.price {display: grid; grid-template-columns: auto auto; grid-column-gap: 5px;} 

.filterGroup.detalFilter::before { content: 'Деталь [ 0 ]'; }
.filterGroup.priceFilter::before { content: 'Диапазон цен'; }
.filterGroup.donorFilter::before { content: 'Автомобиль донор [ 0 ]'; }
.filterGroup.skladFilter::before { content: 'Склад [ 0 ]'; }
.filterGroup.vinFilter::before { content: 'VIN [ 0 ]'; }
/***********************/
/*** Таблица деталей ***/
/***********************/
.tableDetals { margin-top: 121px; transition: all 0.5s ease-in-out;}


.tableDetals thead {
  	position: fixed;
	color: #fff;
  	background-color: #212529;
  	border-color: #32383e;
  	width: 100%;
  	margin-left: -1px;
  	margin-top: -73px;
  	z-index:1;
}

.tableDetals th { height: 45px; border: 1px solid #484848; }

.tableDetals th, .tableDetals td {
	font-size: 10pt;
	height: 50px;
	padding: 0.35rem;
	border-bottom: 1px solid #dee2e6;
}

.tableDetals tr:hover {	background: rgba(0, 0, 0, 0.05);}

.tableDetals tr.selectedDetal {	background: rgba(0, 67, 234, 0.1)}

.detalCheckBox {width: 10px;}
.detalNumber   {width: 20px;}
.detalTitle    {width: 150px;}
.detalDonor    {width: 250px;}
.detalVIN 	   {min-width: 105px;}
.detalSklad	   {min-width: 105px;}
.detalPrice    {min-width: 100px;}
.detalPhotoMin {min-width: 100px; text-align: center;}
.detalOther {width: 400px;}

.tableDetals td {padding-left: 10px;}
td.detalNumber, td.detalCheckBox {padding: 0.35rem;}

.detalCheckBox input, .detalCheckBox  {
	margin-top: 5px;
	cursor: pointer;
	text-align: center;
}
.detalDonor:hover {
	cursor: pointer;
	text-decoration: underline}

.detalDonor a {	color: black;}

.detalVIN input {
	height: 20px; 
	width: 90px;
}

.detalPhotoImg {
	text-align: center; 
	width: 100px;
}

.detalPhotoImg img {
	height: 19px;
	opacity: 0.5;
}

.detalPhotoImg img:hover {
	opacity: 1;
	cursor: pointer;
}

.edit {
	width: 80px;
}


/*************************/
/*** Панель упарвления ***/
/*************************/
.controlPanel {
	position: fixed;
	bottom: 0px;
	left: 300px;
	width: 100%;
	height: 80px;
	background: rgba(0, 0, 0, 0.85);
	display: none;
	grid-template-columns: 350px 100px 100px 100px;
	grid-column-gap: 20px;
}

.titleSelect {color: #FFE8C0;
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7)x;
	background-clip: text;
	font-family: 'Merriweather', serif;
	margin: 0 0 0 105px;
	padding: 15px 8px 8px 20px;
	height: 50px;
	width: 240px;
	border-radius: 6px;
}

.controlPanel label {
	font-size: 9pt;
}

.controlPanel span {
	font-family: 'Roboto Slab', serif; 
	font-size: 10pt; 
	margin: 0 0 0 10px;
}
.controlPanel button {
	margin-top: 25px;
	margin-left: 50px;
	height: 30px;
	font-size: 8pt;
	box-shadow: 0 0 4px 1px #6A6A6A;
}

.showPanel {
	display: grid;
}


/************************************************/
/***********   Добавление деталей    ************/
/************************************************/

.addDetalsPanel {
	margin-top: -16px;
	overflow: auto;
	height: 530px;
}

.backBlack {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    left: 0;
    top: 13px;
    z-index: 5;
}

/***********************/
/*** Вкладки верхние ***/
/***********************/

.backTabsDetalGroup {
	position: fixed;
	width: 79%;
	height: 100px;
	margin-top: -10px;
	background: #FFF;
	margin-left: -15px;
	padding: 10px 0 0 0;
	z-index: 2;
}

.tabsDetalGroup {
	width: 100%;
	height: 90px;
	display: grid;
	grid-template-columns: 200px 200px 200px 200px;
	padding: 1px 1px 1px 50px ;
	box-shadow: inset 3px 3px 3px #7F7F7F;
	border-top-left-radius: 5px;
}


.tabsDetalGroup .titleGroup {
	background-color: #FFFFFF;
	height: 35px;
	margin-left: -15px;
	margin-top: -1px;
	transition: all 0.25s ease-in-out;
	font-family: 'Merriweather', serif;
	font-size: 16px;
	color: #4D4D4D;
	text-align: center;
	border: 1px solid #B3B3B3;
	border-top: none;
	border-bottom-left-radius: 10px; 
	border-bottom-right-radius: 10px; 
	box-shadow: -2px 6px 5px 0 #7F7F7F;
}

.titleGroup span {
	font-family: 'Roboto Slab', serif; 
}

.tabsDetalGroup .titleGroup:hover {
	cursor: pointer;
	height: 50px;
	padding: 10px 0 0 0;
	box-shadow: -2px 4px 4px 0 #9DB3FF;
	border: 1px solid #9DB3FF;
	border-top: none;
}

.titleGroup.activeTab {
	cursor: pointer;
	height: 50px;
	padding: 10px 0 0 0;
	box-shadow: -2px 4px 4px 0 #9DB3FF;
	border: 1px solid #9DB3FF;
	border-top: none;
}
.donorPanel {
	position: absolute;
	height: 40px;
	width: 100px;
	top: 9px;
	right: 25px;
	padding: 0 30px 0 30px;
	background-color: #FFFFFF;
	text-align: center;
	border: 1px solid #B3B3B3;
	border-top: none;
	border-bottom-left-radius: 10px; 
	border-bottom-right-radius: 10px; 
	box-shadow: -2px 6px 5px 0 #7F7F7F;
	overflow: hidden;
	z-index: 6;
}

.donorPanel label {
	padding: 10px 0 0 0 ;
	font-family: 'Merriweather', serif;
	font-size: 12pt;
	color: #4D4D4D;
}

.animationPage1 { 
	width: 500px;
	transition: all 0.5s ease-in-out;
}
.animationPage2 { 
	height: 520px;
	transition: all 1s ease-in-out;
}

/*************************/
/*** Разметка контента ***/
/*************************/

.contentDetailGroup {
	display: grid;
	grid-template-columns: 170px auto;
}

/***********************/
/*** Вкладки Боковые ***/
/***********************/

.tabsDetalsName {
	margin-top: 90px;
	margin-left: 10px;
}

.tabsDetalsName.fixedTab {padding: 40px 0 0 0; 	transition: all 0s ease-in-out;}
.tabsDetalsName.firstTabActive { padding: 43px 0 0 0; 	transition: all 0s ease-in-out;
}
.titleDetal {
	position: relative;
	z-index: 1;
	color: #495057;
	height: 40px;
	width: 180px;
	margin: 0 30px 5px 0;
	text-align: left;
	font-family: 'Roboto Slab', serif; 
	font-size: 8pt;
	padding: 12px 0 0 30px;
	border: 1px solid #A2A2A2;
	border-radius: 5px;
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 50%, rgba(255,255,255,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(50%, rgba(247,247,247,1)), color-stop(100%, rgba(255,255,255,1))); /* safari4+,chrome */
    background:-webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 50%, rgba(255,255,255,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 50%, rgba(255,255,255,1) 100%); /* opera 11.10+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 50%, rgba(255,255,255,1) 100%); /* ie10+ */
    background:radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 50%, rgba(255,255,255,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#FFFFFF',GradientType=0 ); /* ie6-9 */ 
}

.titleDetal:hover {
	width: 190px;
	cursor: pointer;
	transition: all 0.25s ease-in-out;
}

.titleDetal.activeTab {
    position: relative;
    z-index: 4;
    width: 205px;
    margin-left: -5px;
    border: 1px solid #9DB3FF;
    border-right: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: -1px 1px 2px #9DB3FF, 
    			-2px 1px 2px #9DB3FF, 
    			-1px 0 4px #FFFFFF, 
    			inset 0 0 200px 30px rgba(0, 164, 253, 0.05);
    transition: all 0.25s ease-in-out;
}

.titleDetal.activeTab.topfixed {
	position: fixed;
	top: 97px;
}

	
.titleDetal.nextTab { 
	margin-top: 45px;
	transition: all 0s ease-in-out; 
}

.detalIcon {
	margin: -28px 0 0 -35px;
	height: 38px;
	width: 30px;
	border-right: 1px solid #B3B3B3;
}

.detalIcon img { 
	height: 14px;
	margin: 14px 0 0 11px;
}

/**************************/
/*** Содержимое Боковых ***/
/**************************/

.contentBlock {
	z-index: 3;
	position: fixed;
	height: 445px;
	width: 510px;
	margin: 75px 0 0 210px;
	transition: all 0.3s ease-in-out;
	background: #FFFFFF;
	overflow: hidden;
	border-radius: 10px;
	border: 1px solid #9DB3FF;
	border-left: none;
	box-shadow: -2px 2px 2px #9DB3FF, -3px 2px 2px #9DB3FF, -1px 0 4px #FFFFFF, inset 0 0 200px 30px rgba(0, 164, 253, 0.07);
}

.detalParams { display: none; grid-template-rows: 150px auto; }

.active { display: grid; }

.hide {	width: 10px; overflow: hidden; }

.topBlock {	display: grid; grid-template-columns: 250px 320px; }

.exsistDetal { margin: 40px 0 0 20px; font-size: 11pt; }

.exsistDetal label {margin: 0 0 0 10px;}

.exsistDetal label:hover { cursor: pointer; }


.topBlock .input-group { margin: 17px 0 0 10px;	padding: 0 40px 0 0 ; }

.topBlock .input-group input,
.topBlock .input-group span {
	height: 25px;
	font-size: 7pt;
}

.danger { box-shadow: 0 0 5px 2px rgba(255, 0, 0, 0.5); }

.sklad { 
	display: grid; 
	grid-template-columns: 50px auto; 
	margin: 10px 0 0 10px; 
	font-size: 8pt;}
.sklad .paramContent { border-left: 1px solid #ced4da;}
.sklad .paramContent select {width: 140px; }

.textDetals {
	padding-top: 45px;
	width: 250px;
}

.textDetals textarea { font-size: 7pt; }

.photoAdd { text-align: center; margin: 100px 70px 0 0;}

/* .photoAdd::before {
	content: "";
	position: absolute;
	background: red;
	width: 100px;
	height: 100px;
}
 */
.addPhotoButton {
	display: none;
}

.addPhotoButton + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    width: 200px;
    display: inline-block;
}

.photoAdd img { opacity: 0.5; }
.photoAdd img:hover { cursor: pointer; opacity: 0.8; }


/********************************/
/*** Содержимое панели донора ***/
/********************************/


.mainInfo {
	margin-left: -20px;
	display: grid;
	grid-template-rows: auto 50px auto;
	font-family: 'Merriweather', serif;
	background: #fff;
}

.titleMainInfo { 
	font-size: 12pt;
	text-align: center;
	color: black;
}

/*** Вкладки донора ***/
.donorTabs {
	margin-top: 20px;
	display: grid;
	grid-template-columns: 180px 180px;
	align-items: end;
}

.tabInfo, .tabPhoto {
	background: #FFF;
	width: 180px;
	height: 30px;
	font-family: 'Merriweather', serif;
	font-size: 8pt;
	color: #494949;
	padding: 10px 0 0 0;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom: none;
	box-shadow: -2px -4px 4px 0 #7F7F7F;
	transition: all 0.5s ease-in-out;
}

.tabPhoto {
	margin-left: 115px;
	transition: all 0.5s ease-in-out;
}

.tabInfo:hover, .tabPhoto:hover { cursor: pointer; box-shadow: -2px -4px 4px 0 #9DB3FF;}

.tabInfo.active, .tabPhoto.active { 
	width: 320px;
	height: 45px; 
	box-shadow: -2px -4px 4px 0 #9DB3FF;
	padding: 15px 0 0 0;
	font-size: 10pt;
	transition: all 0.5s ease-in-out;

}

.tabPhoto.active {
	margin-left: -25px;
	transition: all 0.5s ease-in-out;
}




/*** Панель параметров ***/

.donorParmas {
	margin-top: 40px;
	display: grid;
	grid-template-rows: 50px auto;
	grid-column-gap: 15px;
	justify-content: center;
	transition: all 0.5s ease-in-out;
}

.col {
	display: grid;
	grid-template-columns: 215px 215px;
	grid-column-gap: 15px;
	justify-content: center;
}

.vin {	
	display: grid;
	justify-content: center;
	margin: 0 0 20px 0; 
}

.vin .paramTitle {	
	min-width: 150px; 
	padding-left: 10px;
}

.vin .paramContent {	
	min-width: 200px; 
}


.oneParamBlock {
	margin-bottom: 20px;
	display: grid;
	grid-template-columns: auto auto;
	justify-content: start;
}

.paramTitle {
	width: 90px;
	height: 27px;
	padding: 6px 0 0 10px;
	background-color: #e9ecef;
	border: 1px solid #ced4da;
	text-align: left;
	font-size: 7pt;
	font-family: sans-serif;
	color: #495057;
	border right: none;
	border-radius: 0.25rem;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.paramContent {
	width: 120px;
	font-size: 8pt;
}

.paramContent select,
.paramContent input {
	font-family: 'Roboto Slab', serif; 
	font-size: 7pt; 
	height: 27px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-left: none;
}

.buttonBlock {
	display: grid;
	grid-template-columns: auto auto;
	grid-column-gap: 10px;
	justify-content: end;
	margin-top: -10px;
	margin-right: 10px;
}

.buttonBlock button {
	font-size: 7pt;
	height: 30px;
}


/*** Панель фотографии ***/

.donorPhoto {
	background: #FFFFFF;
	position: absolute;
	height: 325px;
	width: 100%;
	padding: 20px;
	top: 120px;
	right: -490px;
	transition: all 0.5s ease-in-out;
	text-align: center;
}

.donorPhoto img {
	margin: 100px 0 0 50px;
	height: 160px; 
	width: 200px;
	opacity: 0.5;
}

.donorPhoto img:hover { 
	opacity: 0.75;
	cursor: pointer;
}

/*** Стили для анимации переключения ***/

.donorPhoto.show {right: 35px; }


/***************************************/
/******** Нижняя панель иформации ******/
/***************************************/

.bottomParams {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 170px;
	padding: 0 0 0 346px;
	z-index: 1;
    box-shadow: 0 -7px 30px 0px rgba(103, 103, 103, 0.42), inset 0 0 200px 30px rgba(0, 164, 253, 0.25);
}

.bottomParams::before {
    content: 'Параметры добавления';
    position: absolute;
    width: 250px;
    height: 50px;
    left: 320px;
    bottom: 145px;
    background: #ffffff;
    color: #495057;
    font-family: 'Roboto Slab', serif;
    border: 1px solid rgba(89, 138, 187, 0.4);
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: inset 0 0 200px 30px rgba(0, 164, 253, 0.12);
    padding: 16px 0 0 22px;
}

.bottomTitle {
	position: relative;
	z-index: 1;
	margin: -5px 0 0 0;
}

.bottomInfo {
    font-family: 'Roboto Mono', serif;
    font-size: 11pt;
    width: 300px;
    height: 120px;
    margin: 30px 0 0 290px;
    padding: 25px 0 0 20px;
    border: 1px solid #898989;
    border-radius: 10px;
}

.bottomInfo .value { padding-left: 10px; }

.bottomInfo .key { text-align: right; padding-right: 10px; }

.bottomAddBackButtons {
	margin-left: 610px;
	margin-top: -125px;
	display: grid;
	grid-template-rows: auto auto;
}

.bottomAddBackButtons button { 
	width: 150px;
	height: 40px;
	font-size: 9pt;
	box-shadow: inset 0 0 5px 2px rgba(255, 255, 255, 0.4);
}

.bottomSettingButtons {
	width: 300px;
	height: 100px;
	margin: -86px 0 0 -20px;
	border: 1px solid #898989;
	border-radius: 10px;
	padding: 20px 0 0 15px;
}

.bottomSettingButtons::before, .bottomInfo::before {
	content: 'Размещение деталей';
    position: absolute;
    background: rgba(230, 245, 255, 1);
    width: 140px;
    height: 30px;
    text-align: center;
    margin: -29px 0 0 0;
    font-size: 9pt;	
} 

.bottomInfo::before { margin: -34px 0 0 0; }

.bottomSettingButtons label { font-size: 9pt; padding: 4px 0 0 0;}
.bottomSettingButtons select { margin: 0 0 0 10px; width: 150px; }
/************************************************/