{% extends "base.html" %}
{% load static %}
{% block title %}
Список деталей
{% endblock title %}
{% block page_title %}
Список деталей			
{% endblock page_title %}
{% block mainpanel %}
<link rel="stylesheet" href="{% static "css/detals_list.css" %}">
<link rel="stylesheet" href="{% static "css/donor_panel.css" %}">
<div class="pag-panel">
	<ul>
		<li class="prev-page"><a href="?page=1"><i class="fas fa-angle-double-left"></i></a></li>
		<li class="prev-page"><a href="?page={{active_page|add:-1}}"><i class="fas fa-chevron-left"></i></a></li>
		{% for num in page.page_range %}
		{% if  num == active_page %}
		<li class="not-active active"><a href="?page={{num}}">{{num}}</a></li>
		{% elif num > active_page|add:-2 and num < active_page|add:2 %}
		<li class="not-active"><a href="?page={{num}}">{{num}}</a></li>
		{% endif %}
		{% endfor %}
		<li class="next-page"><a href="?page={{active_page|add:1}}"><i class="fas fa-chevron-right"></i></a></li>
		<li class="prev-page"><a href="?page=22"><i class="fas fa-angle-double-right"></i></a></li>
	</ul>	
</div>
<div class="mainpanel detals_list">
	<div class="filter-panel border-table hiden	">
		<div class="small">
			<div class="param">{{forms.filters.small.price_min}}</div>
			<div class="param">{{forms.filters.small.price_max}}</div>
			<div class="param">{{forms.filters.small.detal}}</div>
			<div class="param">{{forms.filters.small.mark}}</div>
			<div class="param">{{forms.filters.small.model}}</div>
			<div class="param">{{forms.filters.small.generation}}</div>
			<div class="param">{{forms.filters.small.number}}</div>
			<div class="param">{{forms.filters.small.stock}}</div>
			<div class="param">{{forms.filters.small.stock_param}}</div>
		</div>
		<div class="full">
				
		</div>
	</div>	
	<div class="list border-table">
		<div class="detals-table">
			<div class="head-table">
				<table>
					<tr >
						<th class="count-num">№</th>
						<th class="detal-title"><i class="fas fa-sort"></i>Деталь</th>
						<th class="detal-donor"><i class="fas fa-sort"></i>Автомобиль-донор</th>
						<th class="detal-number"><i class="fas fa-sort"></i>Номер детали</th>
						<th class="detal-desc">Описание</th>
						<th class="detal-stock"><i class="fas fa-sort"></i>Расположение</th>
						<th class="detal-stock-param"><i class="fas fa-sort"></i>Ячейка</th>
						<th class="detal-photo">Фото</th>
						<th class="detal-price"><i class="fas fa-sort"></i>Цена</th>
					</tr>
				</table>
			</div>
			<div class="body-table">
				{% for detal in all_detals %}
					<div class="row-detal" data-content="{{detal.detal.pk}}">
						<div class="count-num">{{detal.count}}</div>
						<div class="detal-title">{{detal.detal}}</div>
						<div class="detal-donor">{{detal.detal.donor_info}}</div>
						<div class="detal-number">06V288B2</div>
						<div class="detal-desc">{{detal.detal.description}}</div>
						<div class="detal-stock">{{detal.detal.stockroom}}</div>
						<div class="detal-stock-param">1</div>
						<div class="detal-photo">1</div>
						<div class="detal-price">{{detal.detal.price}}</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
<script src="{% static "js/detals_list.js" %}"></script>
{% endblock mainpanel %}