{% extends "base.html" %}
{% load static %}
{% block title %}
	Добавление деталей
{% endblock title %}
{% block mainpanel %}
<div class="backBlack">
</div>
<form action="/lk/add_auto/add/" method="POST">
{% csrf_token %}
	<div class="addDetalsPanel">
		
		<div class="backTabsDetalGroup">
			<div class="tabsDetalGroup" >
				<div data-content="kuzov" class="titleGroup activeTab" onclick="change_group_detal(this)">Кузов <span>0/40</span></div>
				<div data-content="salon" class="titleGroup" onclick="change_group_detal(this)">Салон <span>0/64</span></div>
				<div data-content="hodovaya" class="titleGroup" onclick="change_group_detal(this)">Ходовая <span>0/59</span></div>
			</div>
		</div>
		<div class="donorPanel">

			<input name="idDonor" id="idDonor" type="hidden" value="{{new_donor.pk}}">
			<div class="mainInfo" id="mainInfo">
				<label class="titleMainInfo">Автомобиль-донор</label>
				<div class="donorTabs">
					<div class="tabInfo active" onclick="donorTabs(this)" data-content="params">
						<span>Общая информация</span>
					</div>
					<div class="tabPhoto" onclick="donorTabs(this)" data-content="photo">
						<span>Фотография</span>							
					</div>
				</div>

				<div class="donorContent">
					<div class="donorParmas">
						<div class="vin">
							<div class="input-group-prepend">
								<div class="paramTitle">
									<span class="nameParam">VIN или номер кузова:</span>
								</div>
								<div class="paramContent">
									<input required id="donorVin" type="text" class="form-control" placeholder="Обязательное поле">
								</div>
							</div>
						</div>
						<div class="col">
							<div class="leftParam" >
								<div class="oneParamBlock">
									<div class="paramTitle">
										<span class="nameParam" id="">Марка:</span>
									</div>
									<div class="paramContent">
										<select id="all_marks" disabled="" class="custom-select">
											<option id="donorMarkOption" value="{{new_donor.mark.value}}" selected>{{new_donor.mark.title}}</option>
										</select>
									</div>
								</div>
								<div class="oneParamBlock">
									<div class="paramTitle">
										<span class="nameParam" id="">Модель:</span>
									</div>
									<div class="paramContent">
										<select id="all_models" disabled class="custom-select">
											<option id="donorModelOption" value="{{new_donor.model.value}}" selected>{{new_donor.model.title}}</option>
										</select>
									</div>
								</div>
								<div class="oneParamBlock">
									<div class="paramTitle">
										<span class="nameParam" id="">Поколение:</span>
									</div>
									<div class="paramContent">
										<select id="all_generations" disabled class="custom-select">
											<option id="donorGenOption" value="{{new_donor.generation.value}}" selected>{{new_donor.generation.year}}</option>
										</select>
									</div>
								</div>
								<div class="oneParamBlock">
									<div class="paramTitle">
										<span class="nameParam" id="">Год выпуска:</span>
									</div>
									<div class="paramContent">
										<select id="all_years" class="custom-select">
											<option value="{{new_donor.year.value}}" selected>{{new_donor.year.title}}</option>	
											{% for elem in all_years %}
											<option value="{{elem.value}}">{{elem.title}}</option>	
											{% endfor %}
										</select>
									</div>
								</div>
								<div class="oneParamBlock">
									<div class="paramTitle">
										<span class="nameParam" id="">Тип кузова:</span>
									</div>
									<div class="paramContent">
										<select id="all_kuzovs" class="custom-select">
											<option value="{{new_donor.kuzov.value}}" selected>{{new_donor.kuzov.title}}</option>
											{% for elem in all_kuzovs %}
											<option value="{{elem.value}}">{{elem.title}}</option>	
											{% endfor %}
										</select>
									</div>
								</div>
								<div class="oneParamBlock">
									<div class="paramTitle">
										<span class="nameParam">Пробег:</span>
									</div>
									<div class="paramContent">
										<input id="donorProbeg" type="text" class="form-control" placeholder="0">
									</div>
								</div>
							</div>
							<div class="rightParam">
								<div class="oneParamBlock">
									<div class="paramTitle">
										<span class="nameParam" id="">Тип двигателя:</span>
									</div>
									<div class="paramContent">
										<select id="all_engine_type" class="custom-select">
											<option value="{{new_donor.engine_type.value}}" selected>{{new_donor.engine_type.title}}</option>
											{% for elem in all_engine_type %}
											<option value="{{elem.value}}">{{elem.title}}</option>	
											{% endfor %}
										</select>
									</div>
								</div>
								<div class="oneParamBlock">
									<div class="paramTitle">
										<span class="nameParam" id="">Объем:</span>
									</div>
									<div class="paramContent">
										<select id="all_engine_size" class="custom-select">
											<option value="{{new_donor.engine_size.value}}" selected>{{new_donor.engine_size.title}}</option>
											{% for elem in all_engine_size %}
											<option value="{{elem.value}}">{{elem.title}}</option>	
											{% endfor %}
										</select>
									</div>
								</div>
								<div class="oneParamBlock">
									<div class="paramTitle">
										<span class="nameParam" id="">КПП:</span>
									</div>
									<div class="paramContent">
										<select id="all_kpp" class="custom-select">
											<option value="{{new_donor.transmission.value}}" selected>{{new_donor.transmission.title}}</option>
											{% for elem in all_kpp %}
											<option value="{{elem.value}}">{{elem.title}}</option>	
											{% endfor %}
										</select>
									</div>
								</div>
								<div class="oneParamBlock">
									<div class="paramTitle">
										<span class="nameParam" id="">Цвет:</span>
									</div>
									<div class="paramContent">
										<select id="all_color" class="custom-select">
											<option value="{{new_donor.color.value}}" selected>{{new_donor.color.title}}</option>
											{% for elem in all_color %}
											<option value="{{elem.value}}">{{elem.title}}</option>	
											{% endfor %}
										</select>
									</div>
								</div>
								<div class="oneParamBlock">
									<div class="paramTitle">
										<span class="nameParam" id="">Руль:</span>
									</div>
									<div class="paramContent">
										<select id="all_helm" class="custom-select">
											<option value="{{new_donor.helm.value}}" selected>{{new_donor.helm.title}}</option>
											{% for elem in all_helm %}
											<option value="{{elem.value}}">{{elem.title}}</option>	
											{% endfor %}
										</select>
									</div>
								</div>
								<div class="oneParamBlock">
									<div class="paramTitle">
										<span class="nameParam" id="">Привод:</span>
									</div>
									<div class="paramContent">
										<select id="all_privod" class="custom-select">
											<option value="{{new_donor.privod.value}}" selected>{{new_donor.privod.title}}</option>
											{% for elem in all_privod %}
											<option value="{{elem.value}}">{{elem.title}}</option>	
											{% endfor %}
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="donorPhoto">
						<img src="{% static "img/addPhoto.png" %}" alt="">
					</div>
				</div>

				<div class="buttonBlock">
					<div>
						<button id="edit" onclick="editDonor(mainInfo)" type="button" class="btn btn-primary" disabled>Изменить</button>
					</div>
					<div>
						<button id="save" onclick="saveDonor(mainInfo)" type="button" class="btn btn-success">Сохранить</button>
					</div>
				</div>


			</div>
		</div>
		<div class="contentDetailGroup ">

			<div class="tabsDetalsName firstTabActive">
				{% for detal in all_detals %}
					{% if detal.pk == 1 %}
						<div data-content="{{detal.pk}}" class="titleDetal activeTab topfixed" onclick="change_detal(this)">
					{% else %}
						<div data-content="{{detal.pk}}" class="titleDetal" onclick="change_detal(this)">
					{% endif %}
							<div>{{detal.title}}</div>
							<div class="detalIcon">
								<img src="{% static "img/no.png" %}" alt="">
							</div>
						</div>
				{% endfor %}
			</div>
			<div class="contentBlock" >
				{% for detal in all_detals %}
				{% if detal.pk == 1 %}
					<div class="detalParams active" data-content="{{detal.pk}}">
				{% else %}
					<div class="detalParams" data-content="{{detal.pk}}">
				{% endif %}
						<div class="topBlock">
							<div class="exsistDetal">
								<label class="slide detalslabel">
									<input id="nal" name="{{detal.value}}_checkbox" type="checkbox" value="true" onchange="checkboxDetal(this)">
									<span>В наличии</span>
								</label>
								<div id="price" class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text">Цена:</span>
									</div>
									<input disabled type="text" class="form-control" placeholder="0">
									<div class="input-group-prepend">
										<span class="input-group-text">руб.</span>
									</div>
								</div>
								<div class="sklad">
									<div class="paramTitle">
										<span class="nameParam" id="">Склад:</span>
									</div>
									<div class="paramContent">
										<select disabled id="all_years" class="custom-select">
											{% for elem in all_stockrooms %}
												<option>{{elem.title}}</option>
											{% endfor %}
										</select>
									</div>
								</div>
							</div>
							<div class="textDetals">
								<textarea disabled placeholder="Если есть какие-либо дефекты, опишите их в этом поле" class="form-control" rows="7"></textarea>
							</div>
						</div>
						<div class="photoAdd">
							<input type="file" class="addPhotoButton" id="photo" onchange="load_photo(this)">
							<label for="photo"><img src="{% static "img/addPhoto.png" %}" alt=""></label>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="bottomParams">
		
		<div class="bottomInfo">
			<table>
				<tr class="stringInfo">
					<td class="key">Выбранно деталей </td>
					<td>:</td>
					<td class="value">0</td>
				</tr>
				<tr class="stringInfo">
					<td class="key">На общую сумму</td>
					<td>:</td>
					<td class="value"><span>10000</span>₽</td>
				</tr>
				<tr class="stringInfo">
					<td class="key">Склад</td>
					<td>:</td>
					<td class="value">Склад#1</td>
				</tr>
			</table>
		</div>
		<div class="bottomAddBackButtons">
			<button type="submit" class="btn btn-success">Добавить детали</button>
			<button type="button" class="btn btn-danger">Отменить</button>
		</div>
		<div class="bottomSettingButtons">
			<div class="custom-control custom-radio">
				<input onchange="paramsSklad(this)" checked type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
				<label class="custom-control-label" for="customRadio2">На один склад</label>
				<select class="custom-select custom-select-sm" name="selectStock">
					{% for elem in all_stockrooms %}
						<option value="{{elem.id}}">{{elem.title}}</option>
					{% endfor %}
				</select>
			</div>
			<div class="custom-control custom-radio">
				<input onchange="paramsSklad(this)" type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
				<label class="custom-control-label" for="customRadio1" >Выборочно</label>
			</div>

		</div>
	</div>
</form>
<script src="{% static "js/add_detal.js" %}?1"></script>
{% endblock mainpanel %}
