{% extends "base.html" %}
{% load static %}
{% block title %}Добавление деталей{% endblock title %}
{% block page_title %}Добавление деталей{% endblock page_title %}
{% block link-and-script %}
	<link rel="stylesheet" href="{% static "css/add_auto.css" %}">
{% endblock link-and-script %}	
{% block mainpanel %}
	<div class="content-add-page">
		<div class="list-detals block-desing">
			<div class="header-title-block">
				<p>Полный список деталей</p>
			</div>
			<div class="search-block">
				<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
				<i class="fas fa-search"></i>
			</div>
			<hr>
			<div class="list-block">
				<ul>
					<li><a id="group" href="#"><i class="fas fa-caret-right"></i>Двигатель и система зажигания</a>
						<ul class="subgroup hide">
							<li><a href="#"><i class="fas fa-caret-right"></i>Подгруппа</a></li>
							<li><a href="#"><i class="fas fa-caret-right"></i>Подгруппа</a></li>
							<li><a id="group" href="#"><i class="fas fa-caret-right"></i>Подгруппа</a>
								<ul class="subgroup hide">
									<li><a href="#"><i class="fas fa-caret-right"></i>Деталь</a></li>
									<li><a href="#"><i class="fas fa-caret-right"></i>Деталь</a></li>
									<li><a href="#"><i class="fas fa-caret-right"></i>Деталь</a></li>
									<li><a href="#"><i class="fas fa-caret-right"></i>Деталь</a></li>
									<li><a href="#"><i class="fas fa-caret-right"></i>Деталь</a></li>
								</ul>
							</li>
							<li><a href="#"><i class="fas fa-caret-right"></i>Подгруппа</a></li>
							<li><a href="#"><i class="fas fa-caret-right"></i>Подгруппа</a></li>
						</ul>
					</li>
					<li><a id="group" href="#"><i class="fas fa-caret-right"></i>Интерьер</a>
						<ul class="subgroup hide">
							<li><a href="#"><i class="fas fa-caret-right"></i>Подгруппа</a></li>
							<li><a href="#"><i class="fas fa-caret-right"></i>Подгруппа</a></li>
							<li><a id="group" href="#"><i class="fas fa-caret-right"></i>Подгруппа</a>
								<ul class="subgroup hide">
									<li><a href="#"><i class="fas fa-caret-right"></i>Деталь</a></li>
									<li><a href="#"><i class="fas fa-caret-right"></i>Деталь</a></li>
									<li><a href="#"><i class="fas fa-caret-right"></i>Деталь</a></li>
									<li><a href="#"><i class="fas fa-caret-right"></i>Деталь</a></li>
									<li><a href="#"><i class="fas fa-caret-right"></i>Деталь</a></li>
								</ul>
							</li>
							<li><a href="#"><i class="fas fa-caret-right"></i>Подгруппа</a></li>
							<li><a href="#"><i class="fas fa-caret-right"></i>Подгруппа</a></li>
						</ul>
					</li>
					<li><a id="group" href="#"><i class="fas fa-caret-right"></i>Кондиционер и отопитель</a>
						<ul class="subgroup hide">
							<li><a id="group" href="#"><i class="fas fa-caret-right"></i>Подгруппа</a>
								<ul class="subgroup hide">
									<li><a href="#">Деталь</a></li>
									<li><a href="#">Деталь</a></li>
									<li><a href="#">Деталь</a></li>
									<li><a href="#">Деталь</a></li>
									<li><a href="#">Деталь</a></li>
								</ul>
							</li>
							<li><a id="group" href="#"><i class="fas fa-caret-right"></i>Подгруппа</a>
								<ul class="subgroup hide">
									<li><a href="#">Деталь</a></li>
									<li><a href="#">Деталь</a></li>
									<li><a href="#">Деталь</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li><a id="group" href="#"><i class="fas fa-caret-right"></i>Кузовные запчасти</a>
						<ul class="subgroup hide">
							<li><a id="group" href="#"><i class="fas fa-caret-right"></i>Подгруппа</a>
								<ul class="subgroup hide">
									<li><a href="#">Деталь</a></li>
									<li><a href="#">Деталь</a></li>
									<li><a href="#">Деталь</a></li>
									<li><a href="#">Деталь</a></li>
									<li><a href="#">Деталь</a></li>
								</ul>
							</li>
							<li><a id="group" href="#"><i class="fas fa-caret-right"></i>Подгруппа</a>
								<ul class="subgroup hide">
									<li><a href="#">Деталь</a></li>
									<li><a href="#">Деталь</a></li>
									<li><a href="#">Деталь</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li><a id="group" href="#"><i class="fas fa-caret-right"></i>Подвеска</a>
						<ul class="subgroup hide">
							<li><a id="group" href="#"><i class="fas fa-caret-right"></i>Подгруппа</a>
								<ul class="subgroup hide">
									<li><a href="#">Деталь</a></li>
									<li><a href="#">Деталь</a></li>
									<li><a href="#">Деталь</a></li>
									<li><a href="#">Деталь</a></li>
									<li><a href="#">Деталь</a></li>
								</ul>
							</li>
							<li><a id="group" href="#"><i class="fas fa-caret-right"></i>Подгруппа</a>
								<ul class="subgroup hide">
									<li><a href="#">Деталь</a></li>
									<li><a href="#">Деталь</a></li>
									<li><a href="#">Деталь</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li><a id="group" href="#"><i class="fas fa-caret-right"></i>Рулевое управлени</a>
						<ul class="subgroup hide">
							<li><a id="group" href="#"><i class="fas fa-caret-right"></i>Подгруппа</a>
								<ul class="subgroup hide">
									<li><a href="#">Деталь</a></li>
									<li><a href="#">Деталь</a></li>
									<li><a href="#">Деталь</a></li>
									<li><a href="#">Деталь</a></li>
									<li><a href="#">Деталь</a></li>
								</ul>
							</li>
							<li><a id="group" href="#"><i class="fas fa-caret-right"></i>Подгруппа</a>
								<ul class="subgroup hide">
									<li><a href="#">Деталь</a></li>
									<li><a href="#">Деталь</a></li>
									<li><a href="#">Деталь</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li><a id="group" href="#"><i class="fas fa-caret-right"></i>Система пассивной безопасности</a>
						<ul class="subgroup hide">
							<li><a id="group" href="#"><i class="fas fa-caret-right"></i>Подгруппа</a>
								<ul class="subgroup hide">
									<li><a href="#">Деталь</a></li>
									<li><a href="#">Деталь</a></li>
									<li><a href="#">Деталь</a></li>
									<li><a href="#">Деталь</a></li>
									<li><a href="#">Деталь</a></li>
								</ul>
							</li>
							<li><a id="group" href="#"><i class="fas fa-caret-right"></i>Подгруппа</a>
								<ul class="subgroup hide">
									<li><a href="#">Деталь</a></li>
									<li><a href="#">Деталь</a></li>
									<li><a href="#">Деталь</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li><a id="group" href="#"><i class="fas fa-caret-right"></i>Топливная система</a>
						<ul class="subgroup hide">
							<li><a id="group" href="#"><i class="fas fa-caret-right"></i>Подгруппа</a>
								<ul class="subgroup hide">
									<li><a href="#">Деталь</a></li>
									<li><a href="#">Деталь</a></li>
									<li><a href="#">Деталь</a></li>
									<li><a href="#">Деталь</a></li>
									<li><a href="#">Деталь</a></li>
								</ul>
							</li>
							<li><a id="group" href="#"><i class="fas fa-caret-right"></i>Подгруппа</a>
								<ul class="subgroup hide">
									<li><a href="#">Деталь</a></li>
									<li><a href="#">Деталь</a></li>
									<li><a href="#">Деталь</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li><a id="group" href="#"><i class="fas fa-caret-right"></i>Тормозная система</a>
						<ul class="subgroup hide">
							<li><a id="group" href="#"><i class="fas fa-caret-right"></i>Подгруппа</a>
								<ul class="subgroup hide">
									<li><a href="#">Деталь</a></li>
									<li><a href="#">Деталь</a></li>
									<li><a href="#">Деталь</a></li>
									<li><a href="#">Деталь</a></li>
									<li><a href="#">Деталь</a></li>
								</ul>
							</li>
							<li><a id="group" href="#"><i class="fas fa-caret-right"></i>Подгруппа</a>
								<ul class="subgroup hide">
									<li><a href="#">Деталь</a></li>
									<li><a href="#">Деталь</a></li>
									<li><a href="#">Деталь</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li><a id="group" href="#"><i class="fas fa-caret-right"></i>Электрика и свет</a>
						<ul class="subgroup hide">
							<li><a id="group" href="#"><i class="fas fa-caret-right"></i>Подгруппа</a>
								<ul class="subgroup hide">
									<li><a href="#">Деталь</a></li>
									<li><a href="#">Деталь</a></li>
									<li><a href="#">Деталь</a></li>
									<li><a href="#">Деталь</a></li>
									<li><a href="#">Деталь</a></li>
								</ul>
							</li>
							<li><a id="group" href="#"><i class="fas fa-caret-right"></i>Подгруппа</a>
								<ul class="subgroup hide">
									<li><a href="#">Деталь</a></li>
									<li><a href="#">Деталь</a></li>
									<li><a href="#">Деталь</a></li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div class="right-column">
			<div class="top-row">
				<div class="gui-panel block-desing">
					<div class="header-title-block nav-bar">
						<ul>
							<li>Audi A4 2015 <i class="fas fa-chevron-right"></i></li>
							<li>Двигатель <i class="fas fa-chevron-right"></i></li>
							<li>Подгруппа <i class="fas fa-chevron-right"></i></li>
						</ul>
					</div>
					<div class="content-add-panel">
						<div class="card-detal-group">
							<div class="img-group"><img src="{% static "img/kuzov.png" %}" alt=""></div>
							<div class="title-group"></div>
						</div>
						<div class="card-detal-group">
							<div class="img-group"><img src="{% static "img/kuzov.png" %}" alt=""></div>
							<div class="title-group">Заголовок</div>
						</div>
						<div class="card-detal-group">
							<div class="img-group"><img src="{% static "img/kuzov.png" %}" alt=""></div>
							<div class="title-group">Заголовок</div>
						</div>
						<div class="card-detal-group">
							<div class="img-group"><img src="{% static "img/kuzov.png" %}" alt=""></div>
							<div class="title-group">Заголовок</div>
						</div>
						<div class="card-detal-group">
							<div class="img-group"><img src="{% static "img/kuzov.png" %}" alt=""></div>
							<div class="title-group">Заголовок</div>
						</div>
						<div class="card-detal-group">
							<div class="img-group"><img src="{% static "img/kuzov.png" %}" alt=""></div>
							<div class="title-group">Заголовок</div>
						</div>
						<div class="card-detal-group">
							<div class="img-group"><img src="{% static "img/kuzov.png" %}" alt=""></div>
							<div class="title-group">Заголовок</div>
						</div>
						<div class="card-detal-group">
							<div class="img-group"><img src="{% static "img/kuzov.png" %}" alt=""></div>
							<div class="title-group">Заголовок</div>
						</div>
						<div class="card-detal-group">
							<div class="img-group"><img src="{% static "img/kuzov.png" %}" alt=""></div>
							<div class="title-group">Заголовок</div>
						</div>
						<div class="card-detal-group">
							<div class="img-group"><img src="{% static "img/kuzov.png" %}" alt=""></div>
							<div class="title-group">Заголовок</div>
						</div>
						<div class="card-detal-group">
							<div class="img-group"><img src="{% static "img/kuzov.png" %}" alt=""></div>
							<div class="title-group">Заголовок</div>
						</div>
						<div class="card-detal-group">
							<div class="img-group"><img src="{% static "img/kuzov.png" %}" alt=""></div>
							<div class="title-group">Заголовок</div>
						</div>
						<div class="card-detal-group">
							<div class="img-group"><img src="{% static "img/kuzov.png" %}" alt=""></div>
							<div class="title-group">Заголовок</div>
						</div>
						<div class="card-detal-group">
							<div class="img-group"><img src="{% static "img/kuzov.png" %}" alt=""></div>
							<div class="title-group">Заголовок</div>
						</div>
						<div class="card-detal-group">
							<div class="img-group"><img src="{% static "img/kuzov.png" %}" alt=""></div>
							<div class="title-group">Заголовок</div>
						</div>
						<div class="card-detal-group">
							<div class="img-group"><img src="{% static "img/kuzov.png" %}" alt=""></div>
							<div class="title-group">Заголовок</div>
						</div>
						<div class="card-detal-group">
							<div class="img-group"><img src="{% static "img/kuzov.png" %}" alt=""></div>
							<div class="title-group">Заголовок</div>
						</div>
						<div class="card-detal-group">
							<div class="img-group"><img src="{% static "img/kuzov.png" %}" alt=""></div>
							<div class="title-group">Заголовок</div>
						</div>
						<div class="card-detal-group">
							<div class="img-group"><img src="{% static "img/kuzov.png" %}" alt=""></div>
							<div class="title-group">Заголовок</div>
						</div>
						<div class="card-detal-group">
							<div class="img-group"><img src="{% static "img/kuzov.png" %}" alt=""></div>
							<div class="title-group">Заголовок</div>
						</div>
						<div class="card-detal-group">
							<div class="img-group"><img src="{% static "img/kuzov.png" %}" alt=""></div>
							<div class="title-group">Заголовок</div>
						</div>
						<div class="card-detal-group">
							<div class="img-group"><img src="{% static "img/kuzov.png" %}" alt=""></div>
							<div class="title-group">Заголовок</div>
						</div>
					</div>
				</div>
				<div class="donor in-add-page block-desing">
					<div class="header-title-block">Автомобиль-донор</div>
					
				</div>
			</div>	
			<div class="bottom-row">
				<div class="params-add block-desing">
					<div class="header-title-block">Параметры добавления</div>
					<div class="content-params">
						<div class="img-logo">
							<img src="{% static "img/setting.png" %}" alt="">
						</div>
						<div class="setting-info">
							<div class="border-table">
								<div class="content-table">
									<div class="full-info">
										<table>
											<tr>
												<td>Автомобиль</td>
												<td>:</td>
												<td>Audi A4 2015</td>
											</tr>
											<tr>
												<td>Выбранно деталей</td>
												<td>:</td>
												<td>125</td>
											</tr>
											<tr>
												<td>На общую сумму</td>
												<td>:</td>
												<td>98 856 руб.</td>
											</tr>
										</table>
									</div>
									<div class="setting-add">
										<div class="input-group-text">Разместить детали на ...</div>
										<select class="custom-select custom-select-sm">
											<option selected>Авторазбор не выбран</option>
											<option value="1">One</option>
											<option value="2">Two</option>
											<option value="3">Three</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="block-buttom">
							<button class="btn btn-danger">Отменить добавление</button>
							<button class="btn btn-success">Добавить детали</button>
						</div>
					</div>
				</div>			
			</div>
		</div>
	</div>
	<script src="{% static "js/add_auto.js" %}?1"></script>
{% endblock mainpanel %}
