{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Coiny|Merriweather|Roboto+Slab|Roboto+Mono|Abril+Fatface" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="{% static "css/bootstrap/css/bootstrap.min.css" %}">
	<link rel="stylesheet" href="{% static "css/base.css" %}">
	<script src="{% static "js/jquery-3.3.1.min.js" %}"></script>	
	<script src="{% static "js/base.js" %}"></script>
	{% block link-and-script %}{% endblock link-and-script %}	
	<title>{% block title %}{% endblock title %}</title>
</head>
<body>
<div class='cssload-loader'>
  <div class='cssload-inner cssload-one'></div>
  <div class='cssload-inner cssload-two'></div>
  <div class='cssload-inner cssload-three'></div>
</div>
	<div class="contentpage">
		<div class="topPanel" id="topPanel">
			<div class="company-info" >
				<i class="fas fa-building"></i>
				<label>COMPANY.COM</label>
			</div>
			<div class="page-title">
				{% block page_title %}
					
				{% endblock page_title %}
			</div>
			<div class="profile">
				<a href=""><i class="fas fa-cog"></i></a>
				<a href=""><i class="fas fa-th"></i></a>
				<a href=""><i class="fas fa-bell"></i></a>
				<label for="user-icon">{{request.user}}</label>
				<div class="user-icon" id="user-icon"><i class="fas fa-user-tie fa-2x"></i></div>
				<div class="green-online"></div>
			</div>
		</div>
		<div class="menu">
				<ul id="accordion" class="accordion">
					<li>
						<a href="/lk/detals_list/" onclick="show_loader()">
							<div class="button-icon">
								<i class="fas fa-list-ul"></i>
							</div>
							<div class="button-text">
								Мои детали
							</div>
						</a>
					</li>
					<li>
						<a id="group-menu" href="#">
							<div class="button-icon">
								<i class="fa fa-plus"></i>
							</div>
							<div class="button-text">Добавить детали</div>
						</a>
						<ul class="submenu">
							<li class="sublink button" id="one">
								<a href="#">
									<div class="button-icon">
										<i class="fas fa-car"></i>
									</div>
									<div class="button-text">Автомобиль донор</div>
								</a>
							</li>
							<li class="sublink">
								<a href="#">
									<div class="button-icon">
										<i class="fas fa-file-csv"></i>
									</div>
									<div class="button-text">Импорт из файла</div>
								</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="">
							<div class="button-icon">
								<i class="fas fa-chart-bar"></i>
							</div>
							<div class="button-text">
								Статистика
							</div>
						</a>
					</li>
					<li>
						<a href="{% url 'staff:get_page' %}">
							<div class="button-icon">
								<i class="fas fa-users"></i>
							</div>
							<div class="button-text">
								Сотруднки
							</div>
						</a>
					</li>
					<li>
						<a href="{% url 'stocks:get_page' %}">
							<div class="button-icon">
								<i class="fas fa-warehouse"></i>
							</div>
							<div class="button-text">
								Авторазборы
							</div>
						</a>
					</li>
					<li>
						<a href="">
							<div class="button-icon">
								<i class="fas fa-cog"></i>
							</div>
							<div class="button-text">
								Настройки
							</div>
						</a>
					</li>
					<li>
						<a href="">
							<div class="button-icon">
								<i class="fa fa-power-off"></i>
							</div>
							<div class="button-text">
								Выход
							</div>
						</a>
					</li>
				</ul>
		</div>
		<div class="content">
		<div class="backLoad" style="display: none;"></div>
			{% block mainpanel %}
				
			{% endblock mainpanel %}
		</div>
	</div>
	<div id="modal-container">
		<div class="modal-background">
			<div class="modal">
				<div class="modalcontent" id="modalcontent">
					<div class="selectAutoDonor">
						<form action="/lk/add_auto/" method="POST">
							{% csrf_token %}
							<div class="left-col">
								<hr class="vin">
								<div class="titleModal">
									<div class="input-group">
										<div class="input-group-prepend">
											<div class="input-group-text">VIN или номер кузова:</div>
										</div>
										<input disabled id="titleStockRoom" type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Например: XZU423-0001026" style="width: 220px;flex: none;">
									</div>
								</div>
								<hr class="auto">
								<div class="selectAuto">
									<div class="input-group-prepend">
										<span class="input-group-text">Марка:</span>
										{{form_donor.mark}}
									</div>
									<div class="input-group-prepend">
										<span class="input-group-text">Модель:</span>
										{{form_donor.model}}
									</div>
									<div class="input-group-prepend">
										<span class="input-group-text">Поколение:</span>
										{{form_donor.generation}}
									</div>
								</div>
							</div>
							<div class="right-col">
								<div class="auto-icon">
									<img src="{% static "img/auto.png" %}" alt="">
								</div>
								<div class="alert-block">
									{% if stockroom_count == 0 %}
										<div class="alert alert-warning" role="alert">
											Вам необходимо добавить хотя-бы один склад. Перейдите на <a id="open_add_stock_panel" href="#" class="alert-link" onclick="change_modal_content(this)">страницу добавления</a>.
										</div>
									{% else %}
										<div class="alert alert-primary" role="alert">
											Выбранный автомобиль: Audi A4 2017г
										</div>
									{% endif %}
								</div>
								<div class="button-block">
									<button id="close" type="button" class="btn btn-danger">Отмена</button>	
									<button {% if stockroom_count == 0 %} disabled {% endif %} id="nextpageadd" type="submit" class="btn btn-success" onclick="show_loader(this)">Продолжить</button>
								</div>
							</div>
						</form>
					</div>
					<form method="POST" action="{% url 'stocks:create' %}">
						{% csrf_token %}
						<div class="stock-create">
							<div class="left-column">
								<div class="title-field">
									<div class="input-group-prepend">
										<div class="input-group-text">Название склада:</div>
										{{form_stock.title}}
									</div>
								</div>
								<div class="image-stock"><img src="{% static "img/stock.png" %}" alt=""></div>
							</div>
							<div class="right-column">
								<div class="input-group-prepend">
									<div class="input-group-text">Государство:</div>
									{{form_stock.country}}
								</div>
								<div class="input-group-prepend">
									<div class="input-group-text">Регион/область:</div>
									{{form_stock.region}}
								</div>
								<div class="input-group-prepend">
									<div class="input-group-text">Город/село:</div>
									{{form_stock.city}}
								</div>
								<div class="street-house">
									<div class="input-group-prepend">
										<div class="input-group-text" style="width: 80px;">Улица:</div>
										{{form_stock.street}}
									</div>
									<div class="input-group-prepend">
										<div class="input-group-text" style="margin-left: 10px; width: 100px;">Дом:</div>
										{{form_stock.house}}
									</div>
								</div>
								<div class="bottom-button-block">
									<button type="button" class="btn btn-danger" onclick="change_modal_content(this)">Отмена</button>
									<button type="submit" class="btn btn-success" style="margin-left: 20px;">Создать склад</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script src="{% static "js/modal.js" %}"></script>
</body>
</html>