{% extends "base.html" %}
{% load static %}
{% block link-and-script %}
	<link rel="stylesheet" href="{% static "css/staff.css" %}">
	<script src="{% static "js/staff.js" %}"></script>
{% endblock link-and-script %}
{% block title %}Сотрудники{% endblock title %}
{% block page_title %}Сотрудники{% endblock page_title %}

{% block mainpanel %}
	<div class="add-staff-user">
		<form action="{% url 'staff:get_page' %}" method="POST">
			{% csrf_token %}
			<div class="new-user-fields">
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1">Логин</span>
					</div>
					{{forms.staff.staff_login}}
				</div>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1">ФИО</span>
					</div>
					{{forms.staff.staff_fio}}
				</div>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1">Email</span>
					</div>
					{{forms.staff.staff_email}}
				</div>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1">Пароль</span>
					</div>
					{{forms.staff.staff_password}}
				</div>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1">Уровень прав</span>
					</div>
					{{forms.staff.staff_group}}
				</div>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1">Место работы</span>
					</div>
					{{forms.staff.staff_stock}}
				</div>
			</div>
			<div class="row-button">
				<button typw="button" id="open" class="btn btn-danger" onclick="new_staff_user(this)">Отмена</button>
				<button type="submit" class="btn btn-success">Добавить сотрудника</button>
			</div>
		</form>
	</div>

	<div class="staff-block">
		<div class="left-column">
			<div class="staff-group block-desing ">
				<div class="header-title-block">Уровни прав</div>
				<div class="logo-staff">
					<img src="{% static "img/staff.png" %}" alt="">
				</div>
				<div class="list-group-staff border-table ">
					<div class="list-table">
						<table>
							<tr>
								<td class="staff-group-title">Уровень прав: "Директор/Руководитель"</td>
								<td class="staff-group-edit">Изменить</td>
								<td class="staff-group-delete">Удалить</td>
							</tr>
							<tr>
								<td class="staff-group-title">Уровень прав: "Менеджер"</td>
								<td class="staff-group-edit">Изменить</td>
								<td class="staff-group-delete">Удалить</td>
							</tr>
							<tr>
								<td class="staff-group-title">Уровень прав: "Кладовщик/разборщик"</td>
								<td class="staff-group-edit">Изменить</td>
								<td class="staff-group-delete">Удалить</td>
							</tr>
							<tr>
								<td style="padding-left:35%; width: 100%;">Добавить новый уровень</td>
								<td></td>
								<td></td>
							</tr>

						</table>
					</div>
				</div>
			</div>
			<div class="staff-info block-desing ">
				<div class="header-title-block">Информация об сотруднике</div>
				<div class="row-table-or-logo">
					<div class="select-user">
						<select name="stock" class="custom-select custom-select-sm" id="all_staff" onchange="load_user_info(this)">
							<option value="none">Выбрать сотрудника ... </option>
						{% for elem in staff_users %}
							<option value="{{elem.pk}}">{{elem.first_name}}</option>
						{% endfor %}
						</select>
					</div>
					<div class="user-info">
						<table>
							<tr>
								<td>Сотрудник:</td>
								<td>:</td>
								<td class="param-value">Сотдрудник не выбран</td>
							</tr>
							<tr>
								<td>Логин:</td>
								<td>:</td>
								<td class="param-value">...</td>
							</tr>
							<tr>
								<td>Email</td>
								<td>:</td>
								<td class="param-value">...</td>
							</tr>
							<tr>
								<td>Уровень прав:</td>
								<td>:</td>
								<td class="param-value">...</td>
							</tr>
							<tr>
								<td>Место работы (авторазбор)</td>
								<td>:</td>
								<td class="param-value">...</td>
							</tr>
						</table>	
					</div>
					<div class="logo">
						<img src="{% static "img/staff-info.png" %}" alt="">
					</div>
				</div>
				<hr>
				<div class="button-block">
					<button class="btn btn-danger" onclick="delete_user(this)">Удалить</button>
					<button class="btn btn-info">Редактировать</button>
					<button id="add_staff" class="btn btn-success" style="float: right;" onclick="{% if stock_count > 0 %}new_staff_user(this){% else %}alert('Необходимо добавить хотя-бы 1 авторазбор.'){% endif %}">Новый сотрудник</button>
				</div>
			</div>
		</div>
		<div class="right-column block-desing ">
			<div class="header-title-block">Общий список прав</div>
			<div class="list-all-permissions border-table ">
					<div class="table-params">
						<table>
							<tr>
								<td class="param-title">Добавление товара</td>
								<td><input disabled type="checkbox"></td>
							</tr>
							<tr>
								<td class="param-title">Перемещение товара</td>
								<td><input disabled type="checkbox"></td>
							</tr>
							<tr>
								<td class="param-title">Списание товара (Без продажи)</td>
								<td><input disabled type="checkbox"></td>
							</tr>
							<tr>
								<td class="param-title">Списание товара</td>
								<td><input disabled type="checkbox"></td>
							</tr>
							<tr>
								<td class="param-title">Создание продажи и связанных документов. </td>
								<td><input disabled type="checkbox"></td>
							</tr>
							<tr>
								<td class="param-title">Создание накладной поступления</td>
								<td><input disabled type="checkbox"></td>
							</tr>
							<tr>
								<td class="param-title">Изменение карточки товара</td>
								<td><input disabled type="checkbox"></td>
							</tr>
							<tr>
								<td class="param-title">Проведение оплат, сверки</td>
								<td><input disabled type="checkbox"></td>
							</tr>
							<tr>
								<td class="param-title">Добавление нового авторазбора</td>
								<td><input disabled type="checkbox"></td>
							</tr>
							<tr>
								<td class="param-title">Добавление сотрудников</td>
								<td><input disabled type="checkbox"></td>
							</tr>
							<tr>
								<td class="param-title">Создание новго уровня прав</td>
								<td><input disabled type="checkbox"></td>
							</tr>
							<tr>
								<td class="param-title">Доступ к статистике/аналитике</td>
								<td><input disabled type="checkbox"></td>
							</tr>
							<tr>
								<td class="param-title">Доступ к статистике/аналитике (Полный) </td>
								<td><input disabled type="checkbox"></td>
							</tr>
							<tr>
								<td class="param-title">Выгрузка на площадки объявлений</td>
								<td><input disabled type="checkbox"></td>
							</tr>
							<tr>
								<td class="param-title">Удаления с площадок объявлений</td>
								<td><input disabled type="checkbox"></td>
							</tr>
							<tr>
								<td class="param-title">Пункт № ...</td>
								<td><input disabled type="checkbox"></td>
							</tr>
							<tr>
								<td class="param-title">Пункт № ...</td>
								<td><input disabled type="checkbox"></td>
							</tr>
							<tr>
								<td class="param-title">Пункт № ...</td>
								<td><input disabled type="checkbox"></td>
							</tr>
							<tr>
								<td class="param-title">Пункт № ...</td>
								<td><input disabled type="checkbox"></td>
							</tr>
							<tr>
								<td class="param-title">Пункт № ...</td>
								<td><input disabled type="checkbox"></td>
							</tr>
							<tr>
								<td class="param-title">Пункт № ...</td>
								<td><input disabled type="checkbox"></td>
							</tr>
							<tr>
								<td class="param-title">Пункт № ...</td>
								<td><input disabled type="checkbox"></td>
							</tr>
							<tr>
								<td class="param-title">Пункт № ...</td>
								<td><input disabled type="checkbox"></td>
							</tr>

						</table>
					</div>
				</div>
		</div>
		
	</div>			
{% endblock mainpanel %}